html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.site-footer {
  background: #363636;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
}